  <h1>Shopping Cart</h1>

  <table class="table table-striped">
    <thread class="thead-dark">
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Price</th>
        <th scope="col">Subtotal</th>
        <th scope="col">Quantity</th>
        <th></th>
        <th></th>
      </tr>
    </thread>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.product.title %></td>
          <td><%= number_to_currency(item.price, :unit => "$") %></td>
          <td><%= number_to_currency(item.price * item.quantity, :unit => "$") %></td>
          <td><%= item.quantity %></td>
          <td>
            <%= form_for item, method: :delete do |f| %>
              <%= button_tag(type: "submit", class: "btn btn-danger") do %>
                Remove <i class="icon-repeat"></i>
              <% end %>
            <% end %>
          </td>
          <td>
            <% if item.product.isBlueray && current_cart.all_blueray?%>
              15% discount for purchasing all Blu-Ray items! Saved a total of <%= number_to_currency(item.quantity * (item.product.price - item.price), :unit => "$") %>
            <% end %>
            <% if !item.product.isBlueray && current_cart.all_dvd?%>
              10% discount for purchasing all DVD items! Saved a total of <%= number_to_currency(item.quantity * (item.product.price - item.price), :unit => "$") %>
            <% end %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td>Total</td>
        <td></td>
        <td>
          <% if (current_cart.items_count > 99)%>
            <%= number_to_currency(current_cart.totalPrice * 0.95, :unit => "$") %>
          <% else %>
            <%= number_to_currency(current_cart.totalPrice, :unit => "$") %>
          <% end %>
        </td>
        <td>
          <%= current_cart.items_count %>
        </td>
        <td></td>
        <td>
          <% if (current_cart.items_count > 99)%>
            5% discount for purchasing 100 or more items! Saved a total of <%= number_to_currency(current_cart.totalPrice * 0.05, :unit => "$") %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
  <%= button_to "Back to Shop", '/', method: :get, class: "btn btn-primary" %>
